'/polsartools/__pycache__/*.pyc'
'/polsartools/preprocessing/__pycache__/*.pyc'
'/polsartools/polsar/__pycache__/*.pyc'
'/polsartools/sensors/__pycache__/*.pyc'
'/polsartools/utils/__pycache__/*.pyc'

/build/
/wheelhouse/
/polsartools/*.pyd