'/polsartools/__pycache__/*.pyc'
'/polsartools/preprocessing/__pycache__/*.pyc'
'/polsartools/polsar/__pycache__/*.pyc'
'/polsartools/polsar/dcp/__pycache__/*.pyc'
'/polsartools/polsar/cp/__pycache__/*.pyc'
'/polsartools/sensors/__pycache__/*.pyc'
'/polsartools/utils/__pycache__/*.pyc'

/polsartools.egg-info/
/build/
/wheelhouse/
/condapackages/
/dist/
/polsartools/*.pyd